h3 {
    padding-bottom: 5px;
    margin: 0px;
    border-bottom: 1px solid #000;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.control-label {
    margin-top: 10px;
}

.error {
    background-color: #fbcdc8;
}

.error input, .error select {
    background-color: #fbcdc8;
}

.error .help-block {
    color: red;
}